{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}



{{ form(form) }}

{#<a href="{{ path('bericht') }}" style="padding: 200px;"> Berichten </a>#}


{% endblock %}
